body {
  margin: 0;
  height: 100vh;
  font-size: 16px;
  box-sizing: border-box;
  background: rgb(175,142,91);
  background: linear-gradient(180deg, rgba(175,142,91,1) 0%, rgba(143,55,74,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#board {
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
}

.container {
  width: 500px;
  height: 900px;
  border-radius: 20px;
  background: rgb(163,133,87);
  background: linear-gradient(180deg, rgba(163,133,87,1) 0%, rgba(134,54,72,1) 100%);
  color: white;
  display: flex;
  justify-content: center;
}

/* initial-screen */
.initial-screen {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.initial-screen > h1 {
  text-align: center;
  font-size: 4rem;
  width: 300px;
}

.img {
  display: flex;
  gap: 50px;
}
.imgCap {
  display: block;
  width: 120px;
}

#start-btn {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border: none;
  background: url(/img/start.png) no-repeat center;
  background-size: 100%;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}
#start-btn:hover {
  transform: scale(1.07);
  box-shadow: 0 0 12px 1px rgb(255, 255, 255);
}

.how-cred-btn {
  margin-top: 100px;
  display: flex;
  gap: 50px;
}

.how-btn {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: url(/img/controls.png) no-repeat center;
  transition: all .2s ease-in-out;
}
.how-btn:hover {
  transform: scale(1.07);
  box-shadow: 0 0 15px 1px rgb(255, 255, 255);
}


#keyMapScreen h2 {
  margin: 75px 50px 50px 50px;
  text-align: center;
  width: 250px;
}

.keymap {
  border-radius: 20px;
  margin-top: 50px;
}

.close {
  width: 50px;
  height: 50px;
  margin-left: 150px;
  margin-right: 150px;;
  border: none;
  background: url(/img/menu.png) no-repeat center;
  background-size: 100%;
  border-radius: 50%;
  transition: all .2s ease-in-out;
} 
  .close:hover {
  transform: scale(1.07);
  box-shadow: 0 0 12px 1px rgb(255, 255, 255);
}

.about-btn {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: url(/img/about.png) no-repeat center;
  transition: all .2s ease-in-out;
}
	.about-btn:hover{
    transform: scale(1.07);
		box-shadow: 0 0 15px 1px rgb(255, 255, 255);
	}

.about-info {
  margin-top: 300px;
  margin-bottom: 150px;
  text-align: center;
}

.go-back {
  width: 50px;
  height: 50px;
  margin-left: 150px;
  margin-right: 150px;;
  border: none;
  background: url(/img/menu.png) no-repeat center;
  background-size: 100%;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}
  .go-back:hover{
    transform: scale(1.07);
		box-shadow: 0 0 15px 1px rgb(255, 255, 255);
	}

/* gameover-screen */
.gme-over {
  margin-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.end-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

.gme-over > h1 {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 3rem;
}

.play-main-btn {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.play-again {
  width: 90px;
  height: 90px;
  border: none;
  background: url(/img/replay.png) no-repeat center;
  background-size: 100%;
  border-radius: 100%;
  transition: all .2s ease-in-out;
}
  .play-again:hover{
    transform: scale(1.07);
    box-shadow: 0 0 50px 1px rgb(255, 255, 255);
  }

.menu {
  width: 90px;
  height: 90px;
  border: none;
  background: url(/img/menu.png) no-repeat center;
  background-size: 100%;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}
  .menu:hover{
    transform: scale(1.07);
    box-shadow: 0 0 50px 1px rgb(255, 255, 255);
  }



